<% @cont = 1  
   @chinazos.each do |chinazo|  %>
	<div class="box level_<%= @cont %>">
		<div class="puntajeAdorno"><%= chinazo.puntos %> Pts.</div>
		<div class="rightGroup">
			<div class="chinazoWrap">
				<span id="titulo"><%= chinazo.nombre %>:</span>
				<span class="contenido"><%= auto_link(chinazo.descripcion) { | each | each[/\.(jpg|gif|png|bmp|tif)$/] ? %Q{<img src="#{each}" width="160px" class="embeddedImage" /> } : each } %></span>
			</div>
			<div>
				<%= link_to "ver mas...", action: :show, id: chinazo.id , controller: :chinazos %>
				<% if session[:current_user_id] == chinazo.users_id %>
				<%= link_to 'Eliminar', { action: :destroy, id: chinazo.id, controller: :chinazos }, method: :delete, data: { confirm: 'Seguro?' } %>
				<% end %>
				<div class="cantidadChinazos"><%= chinazo.cantidad_comentarios %> <span>comentarios</span></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
<% @cont = @cont + 1
end %>