<% @count = 1
@comentarios.each do |comentario| %>
	<div class="comentario_linea"><a class="default-link" href="/chinazos/<%= comentario.chinazos_id %>"><span class="comentario_texto"><%  @Vinculos = comentario.comentario.scan(/((mailto\:|(news|(ht|f)tp(s?))\:\/\/){1}\S+)/i) %>
		 <% if @Vinculos.nil? || @Vinculos.size == 0 %>
		 	<%= comentario.comentario %>
		 <% else %>
		        <% @comentario = comentario.comentario %>
			<% @Vinculos.each do | vinculo | %>
				<% @comentario.sub! vinculo[0], '' %>
		 	<% end %>
			<%= @comentario %>
			<% @Vinculos.each do | vinculo | %>
				<% if vinculo[0].match(/\.(jpg|gif|png|bmp|tif)$/) %>
					<img <%= "src='#{vinculo[0]}'" %> width='100px' class='embeddedImage' />
				<% end %>
		 	<% end %> 
		 <% end %>	
	</span></a></div>
<% @count = @count+1
end %>