<% @count = 1
@comentarios.each do |comentario| %>
	<div class="comentario_linea"><a class="default-link" href="/chinazos/<%= comentario.chinazos_id %>"><span class="comentario_texto"><%= auto_link(comentario.comentario) { | each | each[/\.(jpg|gif|png|bmp|tif)$/] ? %Q{<img src="#{each}" width="100px" class="embeddedImage" /> } : each }
		%></span></a></div>
<% @count = @count+1
end %>