﻿<div class="wrapper">
	<div class="header">
		<%= render "home/header" %>
		<div class="header_wrapper">
			<img class="logo" src="assets/charlie.png"/>
			<h1 class="pageTitle">Chinazómetro</h1>
			<div class="h3">El top de los chinazos</div>
			<div id="acusar_link"><a href="/chinazos/new">Acusa un Chinazo</a></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="firstColumn">
		<div class="colunm_wrapper">
			<div class="table_title">Anuncios</div>
				Para reportar un chinazo haz clic en acusar chinazo, para votar ingresa en la opción "ver mas" del chinazo a juzgar. Debes estar registrado para poder reportar, valorar o comentar chinazos.	
			</div>
		</div>
	<div class="mainContent">
		<div class="clear"></div>
		<div id="container">
			<%= render "chinazos" %>
		</div>
		<%= paginate @chinazos %>
	</div>
	<div class="column_wrapper">
		<div class="buscador">
			<%= label_tag :nombre, "Buscar" %><br/>
			<%= text_field_tag :buscar_nombre %>
		</div>
		<div class="ranking">
			<div class="table_title">Tabla de Posiciones</div>
			<%= render "buscarPuntos" %>
		</div>
		<div class="comentarios_wrap">
			<div class="table_title">Últimos Comentarios</div>
			<div id="ultimos_comentarios_container">
				<%= render "indexComentarios" %>
			</div>
		</div>
	</div>
	
<div class="clear"></div>
</div>